 body {
    background-color: #FFFDF8;
    font-family: 'Source Serif 4', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }
 
 .logo {
    height: auto;
    width: 120px;
    margin:0;
        background-image: url("../images/Group\ 45.png");
        background-repeat: no-repeat;
        transform: scale(0.7);
  }
  
  ul.topnav {
    list-style: none;
    padding: 0%;
    display: flex;
    position: absolute;
    top: 20;
    right: 0;
    margin:0px;
    
  }

  nav {
    width: 99%;
    background-color: #FFFDF8;
    height: 70px;
    display:flex;
    flex-direction: row;
    position: absolute;
    top: 0;
  }

  .right {
    text-align: right;
  }

  a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
  }

  li {
    flex-direction: row;
    font-size: 17px;
    display: inline;
    margin:0
  }

  a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
  }

  a:hover {
    color: #99B461;
  }

  .hero {
    width:100%;
    height: auto;
    display: flex;
  }

  .heroimage {
    background-image: url("../images/Group\ 39.png");
        background-repeat: no-repeat;
        height:800px;
        width:800px;
        margin: 10px;
        transform: scale(0.85);
        margin-top: 0px;
  }

  .italic {
    font-style: italic;
  }

  h1, h2, h3 {
    color:#778e49;
  }

  .title {
    display: block;
    position: absolute;
    left: 47%;
    top: 55%;
    width: 30%;
  }

  .bio {
    font-weight:500;
  }

  .myWork {
    display: block;
    margin: 0 auto;
    font-style: italic;
    color: #121515;
    font-weight: 500;
    text-align: center;
    font-size: 25px;

  }

 
.card-container {
    display: grid;
    grid-template-areas: 
    "Localite"
    "Gifts"
    "Gov";
    width: 100%; 
    margin: 0 auto; 
}


.card1 {
    border: 1px solid #ccc;
    padding: 20px;
    width: 70%; 
    background-color: #fff;
    margin: 20px auto;
    align-items: center;
    grid-area: Localite;

}

.card2 {
  border: 1px solid #ccc;
  padding: 20px;
  width: 70%; 
  background-color: #fff;
  margin: 20px auto;
  align-items: center;
  grid-area: Gifts;

}

.card3 {
  border: 1px solid #ccc;
  padding: 20px;
  width: 70%; 
  background-color: #fff;
  margin: 20px auto;
  align-items: center;
  grid-area: Gov;

}

.button {
    background-color: #99B461;
    border: none;
    height: 30px;
    width: 140px;
    border-radius: 6px;
    color:#FFFDF8;
    align-items: end;
}

.button:hover {
    border-radius: 6px;
    background: #576C2C;
}


.footer{
    display:block;
    text-align: right;
    width: 100%;
    bottom: 0;
    
}

.cr {
    position:fixed;
    bottom:0px;
    display: flex;
    margin: 0;
    z-index: 1000;
}


.icon1 {
  background-image: url("../images/image9.png");
  background-repeat: no-repeat;
  width: auto;
  height: 420px;
  transform: scale(0.45);
  margin: 0;
}

.cardtitle {
  text-align: center;
  margin-top: -55px;
  color: #121515;
  font-size: 20px;
  font-weight: 550;

}

.containertitle {
  margin: auto;
  text-align: center;
  color: #121515;
  display:block;
  font-style: italic;
  font-size: 25px;
  font-weight: 500;
}

.card4 {
  width: 100%;
  text-align: center;
  grid-area: Research;
}

.card5 {
  width: 100%;
  text-align: center;
  grid-area: Design;
}

.card6 {
  width: 100%;
  text-align: center;
  grid-area: Development;
}

.icon2 {
  background-image: url("../images/image10.png");
  background-repeat: no-repeat;
  width: auto;
  height: 420px;
  transform: scale(0.47);
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "Research Design Development";
  width: 100%; 
  margin: 0 auto; 
}

.icon3 {
  background-image: url("../images/image11.png");
  background-repeat: no-repeat;
  width: auto;
  height: 420px;
  transform: scale(0.45);
  margin: 0;
}

.desc {
  padding: 60px;
  margin-top: -65px;
}

.sitemap {
  display: block;
}

.sm {
  display: flex;

}

.center {
  text-align: left;
  align-items: end;
  display: inline-block;
}

.smtitle {
  font-weight: 700;
  padding-left: 15px;
  color:#576C2C;
}

@media screen and (max-width:600) {
  .container {
    margin: 5% 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100% 100% 100%;
    grid-template-areas: 
    "Research"
    "Design"
    "Development";
  }

.card4, .card5, .card6 {
  width: 100%;
}

.title {
  position:fixed;
}

}